@import 'tailwindcss';

@theme {
  --color-biruGelap: #172d5d;
  --color-kuning: #ffce12;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
